<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614521309264-3srd7u92e76cq3a8tsjpbj28qjngfbjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614521309264-3srd7u92e76cq3a8tsjpbj28qjngfbjr</string>
	<key>API_KEY</key>
	<string>AIzaSyDiC8GWxbCpUK_83i9P9He3Rsayr3nBbfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>614521309264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.acthub</string>
	<key>PROJECT_ID</key>
	<string>acthubtraining-22abc</string>
	<key>STORAGE_BUCKET</key>
	<string>acthubtraining-22abc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614521309264:ios:5139c96768c0a7a7916955</string>
</dict>
</plist>